main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 0;
  padding: 2em 1.5em 0em 1.5em;
  background: #f9f9f9;
  overflow: hidden;
}

main#cadastro {
  padding: 30em 1.5em 0em 1.5em;
  overflow: scroll;
}

.header {
  text-align: center;
}
.header h1 {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  font-size: 3em;
}
.header h1 span {
  font-size: 16px;
  color: #454545;
}
.header h1 span img {
  width: 128px;
  margin-top: 10px;
  margin-left: 10px;
}
.header p {
  margin: 30px 0 0 0;
  font-size: 26px;
}

.form-cadastro {
  padding: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
}

.form-cadastro .mensagem-erro {
  background-color: rgb(212, 26, 26);
  padding: 0.5em 0;
  text-align: center;
  color: #f9f9f9;
  border-radius: 6px;
}

.form-cadastro .mensagem-sucesso {
  background-color: var(--green);
  padding: 0.5em 0;
  text-align: center;
  color: #f9f9f9;
  border-radius: 6px;
}

.form-cadastro .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.form-cadastro .form-group.form-button {
  align-items: center;
}

.form-cadastro .form-group label {
  font-size: 1.3m;
  font-weight: 800;
  color: var(--text-gray);
}

.form-cadastro .form-group p {
  font-size: 1.1m;
  font-weight: 800;
}
.form-cadastro .form-group a {
  color: var(--main-color);
}

.form-cadastro .form-group input {
  max-width: 372px;
  font-size: 1.35em;
  padding: .4em 1em;
  border: 3px solid var(--medium-gray);
  background: var(--light-gray);
  outline: none;
  border-radius: 30px;
}

.form-cadastro .form-group input:focus {
  border: 3px solid var(--text-gray);
}
.form-cadastro .form-group button {
  width: fit-content;
  font-size: 1.19em;
  font-weight: 500;
  padding: 0.6em 1.7em;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  box-shadow: 1px 2px 7px -4px black;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s linear;
}

.form-cadastro .form-group button:disabled {
  border: 5px solid var(--text-gray);
  background-color: var(--text-gray);
}

.form-cadastro .form-group button img {
  width: 24px;
}

.footer {
  font-size: 1.1em;
  font-weight: 700;
  margin: 3em 0 0 0;
}
.footer p {
  text-align: center;
  margin-bottom: 1em;
}
.footer a {
  color: var(--main-color);
}
