header {
  display: none;
}

.oil-on-canvas {
  max-width: calc(100vw - 45px);
  height: 100vh;
  background: white;
  margin-top: 0px;
}

#map-ll {
  width: calc(100vw - 45px);
  height: calc(100vh - 50px);
}

@media screen and (min-width: 1024px) {
  .oil-on-canvas {
    width: calc(100vw - 75px);
  }
  
  #map-ll {
    width: calc(100vw - 75px);
  }
}

.form-navegacao {
  height: 50px;
  display: flex;
  flex-direction: column;
  padding: 7px 0;
  justify-content: center;
  align-items: center;
}

.leaflet-top {
  position: absolute;
  top: initial;
  bottom: 7px !important;
  
}

.leaflet-routing-container {
  height: fit-content !important;
  right: 7px;
}