header {
  justify-content: flex-start;
}

.oil-on-canvas {
  max-width: calc(100vw - 75px);
  background: white;
  background-repeat: no-repeat;
  margin-top: 76px;
  overflow: hidden;
}

#map-ll {
  width: 100vw;
  height: 100vh;
}